*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  min-height: 100vh;
  justify-items: center;
  align-items: center;
  text-align: center;
  background: #008080;
  color: white;
  text-transform: capitalize;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 22rem;
}

h1 {
  font-size: 2rem;
}

#timer-label,
h2 {
  font-size: 1.5rem;
}

#time-left {
  font-size: 3rem;
}

.set-lengths {
  display: flex;
  justify-content: space-between;
  width: 22rem;
}

.set-length {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2rem;
}

button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
}

.display {
  display: grid;
  align-items: center;
  width: 15rem;
  height: 9rem;
  border: 5px solid #334d4d;
  border-radius: 35px;
}
